<html>
	<head>
		<script src='https://unpkg.com/vue/dist/vue.js'></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
	<body>
		<!-- app -->
		<div class='taka_hashi'>
			<taka-arrow></taka-arrow>
			<taka-content></taka-content>
			<taka-fs></taka-fs>
		</div>
	</body>	
	<!-- components -->
	<script type="text/x-template" id="taka_hashi_arrow">
		<div>
			<span class='paginate prev' v-if='actived > 0'  v-on:click='prev'>	
				<a href='javascript: void(0);'>&#x25C0</a>
			</span>
		
			<span class='paginate next' v-if='actived < (pages.length -1)' v-on:click='next'>
				<a href='javascript: void(0);'>&#x25B6</a>
			</span>
		</div>
	</script>

	<script type="text/x-template" id="taka_hashi_fs">
		<span class='fs' @click='fullscreen'>
			<a href='javascript: void(0);'>全屏&#x2B1B</a>
		</span>
	</script>

	<script type="text/x-template" id="taka_hashi_content">
		<div class='content' @click='clickCallback'>
			<p v-if="pages[actived]['header']!=''" class='header'>
				{{ pages[actived]['header'] }}
			</p>
			 <p v-for="line in pages[actived]['content']">
			    {{ line }}
			 </p>
			<p v-if="pages[actived]['footer'] != ''" class='footer'>
				{{ pages[actived]['footer'] }}
			</p>
		</div>
	</script>
	<!-- main.js -->
	<script>
		var page_data = [
					{content: ['高橋流JS'], header: '', footer: ''},
				];

		var taka_data = {
			actived: 0,
			pages: page_data,
		}

		var fs_component = {
			template: '#taka_hashi_fs',
		  	methods: {
		  		fullscreen: function(){
					ele = taka.$el;
				    if (ele.requestFullscreen) {
				        ele.requestFullscreen();
				    }
				    else if (ele.mozRequestFullScreen) {
				        ele.mozRequestFullScreen();
				    }
				    else if (ele.webkitRequestFullscreen) {
				        ele.webkitRequestFullscreen();
				    }
				    else if (ele.msRequestFullscreen) {
				        ele.msRequestFullscreen();
				    }
		  		}
		  	}

		}

		var content_component = {
			template: '#taka_hashi_content',
		  	methods: {
				next: function(){
					if(this.actived < (this.pages.length - 1) ){
						this.actived ++;
					}
				}
				,
				prev: function(){
					if(this.actived > 0 ){
						this.actived --;
					}
				},
				clickCallback: function(e){
					let contentWidth = e.target.offsetWidth;
					let fixedClickX = e.x - e.target.offsetLeft
					if(fixedClickX > (contentWidth / 2) ) {
						this.next();
					}else{
						this.prev();
					}
				},

		  	},
		 	data: function () {
		    	return taka_data;
		  	}
		}

		var arrow_component = {
			template: '#taka_hashi_arrow',
		  	methods: {
				next: function(){
					if(this.actived < (this.pages.length - 1) ){
						this.actived ++;
					}
				}
				,
				prev: function(){
					if(this.actived > 0 ){
						this.actived --;
					}
				},

		 	},
			data: function () {
		    	return taka_data;
		  	}
		}

		var taka = new Vue({
			el: '.taka_hashi',
			data: taka_data,
			created: function () {
        		window.addEventListener('keyup', this.keyCallback);
			},
			components: {
		    'taka-content': content_component,
		    'taka-arrow': arrow_component,
		    'taka-fs': fs_component
		  },
			methods: {
				next: function(){
					if(this.actived < (this.pages.length - 1) ){
						this.actived ++;
					}
				},
				prev: function(){
					if(this.actived > 0 ){
							this.actived --;
					}
				},
				keyCallback: function(e){
					let triggerNext = ['Space','ArrowRight','ArrowDown'];
					let triggerPrev = ['Backspace','ArrowLeft','ArrowUp'];
					let press = e.code;
					if(triggerNext.includes(press)){
						this.next();
					}else if(triggerPrev.includes(press)){
						this.prev();
					}else{
						console.warn('unknown key input');
					}
				},
				// TODO
				// fetchContent: function(source){
				// 	type = typeof(source)
				// 	switch(type){
				// 		case 'string':

				// 			break;
				// 		case 'object':
						
				// 			break;

				// 	}	
				// }
			}
		});
		
	</script>
	<style>
		.taka_hashi {
			background-color: white;
			width: 100%;
			height: 100%;
			padding-top: 25%;
		}
		.taka_hashi a {
			color: black;
		}
		.taka_hashi .content {
			text-align: center;
			width: 100%;
			height: 100%;
		}
		.taka_hashi .content p{
			margin: 0;
			font-size: 8vw;
	    font-weight: bold;
		}
		.taka_hashi .content p::selection {
		  background: white; 
		}
		
		.taka_hashi .content p.header,.taka_hashi .content p.footer{
			color: red;
	    font-weight: bold;
			font-size: 3vw;
		}
		.taka_hashi .paginate.next{
			position: relative;
			float: right;
		}
		.taka_hashi .paginate.prev{
			position: relative;
			float: left;
		}
		.taka_hashi .fs{
			float: right;
		}
	</style>
</html>