<html>
	<head>
	    <title>高橋流簡報</title>	    
	    <meta name="keywords" content="takahashijs">
	    <meta name="author" content="Tim,Long beard">
	    <link rel="shortcut icon" href="/img/favicon.ico" media="screen" title="高橋流簡報" charset="utf-8">
	    <meta name="description" content="高橋流簡報, Takahashi Method, 高橋メソッド">
	    <meta property="og:image:width" content="500"/>
	    <meta property="og:image:height" content="500"/>
	    <meta property="og:title" content="高橋流簡報"/>
	    <meta property="og:type" content="website"/>
	    <meta property="og:url" content="https://timwei.github.io/takahashijs/index"/>
	    <meta property="og:image" content="https://raw.githubusercontent.com/TimWei/takahashijs/gh-pages/img/og_image.jpg"/>
	    <meta property="og:description" content="30秒介紹高橋流簡報"/>
	    <meta property="og:site_name" content="高橋流簡報"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<script src='https://unpkg.com/vue/dist/vue.js'></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
	<body>
		<div style ='width: 100%; height: 400px;'>
		<!-- app -->
		<div class='taka_hashi'>
			<taka-arrow></taka-arrow>
			<taka-content></taka-content>
			<taka-fs></taka-fs>
		</div>
	</div>
	</body>	
	<!-- components -->
	<script type="text/x-template" id="taka_hashi_arrow">
		<div>
			<span class='paginate prev' v-if='actived > 0'  v-on:click='prev'>	
				<a href='javascript: void(0);'>&#x25C0</a>
			</span>
		
			<span class='paginate next' v-if='actived < (pages.length -1)' v-on:click='next'>
				<a href='javascript: void(0);'>&#x25B6</a>
			</span>
		</div>
	</script>

	<script type="text/x-template" id="taka_hashi_fs">
		<span class='fs' @click='fullscreen'>
			<a href='javascript: void(0);'>全屏&#x2B1B</a>
		</span>
	</script>

	<script type="text/x-template" id="taka_hashi_content">
		<div class='content' @click='clickCallback'>
			<p v-if="pages[actived]['header']!=''" class='header'>
				{{ pages[actived]['header'] }}
			</p>
			 <p v-for="line in pages[actived]['content']">
			    {{ line }}
			 </p>
			<p v-if="pages[actived]['footer'] != ''" class='footer'>
				{{ pages[actived]['footer'] }}
			</p>
		</div>
	</script>
	<!-- main.js -->
	<script>
		var page_data = [
					{content: ['TakaHashi JS'], header: '', footer: '高橋簡報術的Vue插件'},
					{content: ['下周要報告'], header: '', footer: ''},
					{content: ['Powerpoint來不及做'], header: '', footer: ''},
					{content: ['用高橋簡報術'], header: '', footer: ''},
					{content: ['所謂的','高橋簡報術'], header: '', footer: '高橋メソッド'},
					{content: ['特色'], header: '', footer: ''},
					{content: ['字體要大'], header: '', footer: ''},
					{content: ['字數要少'], header: '', footer: ''},
					{content: ['黑体','極簡'], header: '', footer: ''},
					{content: ['優點(1)'], header: '', footer: ''},
					{content: ['容易看'], header: '', footer: ''},
					{content: ['字大','眼睛舒服'], header: '', footer: ''},
					{content: ['優點(2)'], header: '', footer: ''},
					{content: ['發表簡單'], header: '', footer: ''},
					{content: ['內容只有重點'], header: '', footer: ''},
					{content: ['能幫助','講話的順序'], header: '', footer: ''},
					{content: ['適合不擅長講話的人'], header: '', footer: ''},
					{content: ['特別是 工程師'], header: 'エンジニア', footer: 'Engineer'},
					{content: ['就算突然忘詞'], header: '', footer: ''},
					{content: ['還是繼續翻頁'], header: '', footer: ''},
					{content: ['看起來非常專業'], header: '', footer: ''},
					{content: ['優點(3)'], header: '', footer: ''},
					{content: ['聽眾注意力容易集中'], header: '', footer: ''},
					{content: ['因為字少'], header: '', footer: ''},
					{content: ['輕鬆看完一頁'], header: '', footer: ''},
					{content: ['瞬間讀懂'], header: '', footer: ''},
					{content: ['總結'], header: '', footer: ''},
					{content: ['文字要巨大'], header: '', footer: ''},
					{content: ['做人要友善'], header: '', footer: ''},
					{content: ['謝謝觀看'], header: '', footer: ''},
				];
		var taka_data = {
			actived: 0,
			pages: page_data,
		}

		var fs_component = {
			template: '#taka_hashi_fs',
		  	methods: {
		  		fullscreen: function(){
					ele = taka.$el;
				    if (ele.requestFullscreen) {
				        ele.requestFullscreen();
				    }
				    else if (ele.mozRequestFullScreen) {
				        ele.mozRequestFullScreen();
				    }
				    else if (ele.webkitRequestFullscreen) {
				        ele.webkitRequestFullscreen();
				    }
				    else if (ele.msRequestFullscreen) {
				        ele.msRequestFullscreen();
				    }
		  		}
		  	}

		}

		var content_component = {
			template: '#taka_hashi_content',
		  	methods: {
				next: function(){
					if(this.actived < (this.pages.length - 1) ){
						this.actived ++;
					}
				}
				,
				prev: function(){
					if(this.actived > 0 ){
						this.actived --;
					}
				},
				clickCallback: function(e){
					let contentWidth = e.target.offsetWidth;
					let fixedClickX = e.x - e.target.offsetLeft
					if(fixedClickX > (contentWidth / 2) ) {
						this.next();
					}else{
						this.prev();
					}
				},

		  	},
		 	data: function () {
		    	return taka_data;
		  	}
		}

		var arrow_component = {
			template: '#taka_hashi_arrow',
		  	methods: {
				next: function(){
					if(this.actived < (this.pages.length - 1) ){
						this.actived ++;
					}
				}
				,
				prev: function(){
					if(this.actived > 0 ){
						this.actived --;
					}
				},

		 	},
			data: function () {
		    	return taka_data;
		  	}
		}

		var taka = new Vue({
			el: '.taka_hashi',
			data: taka_data,
			created: function () {
        		window.addEventListener('keyup', this.keyCallback);
			},
			components: {
		    'taka-content': content_component,
		    'taka-arrow': arrow_component,
		    'taka-fs': fs_component
		  },
			methods: {
				next: function(){
					if(this.actived < (this.pages.length - 1) ){
						this.actived ++;
					}
				},
				prev: function(){
					if(this.actived > 0 ){
							this.actived --;
					}
				},
				keyCallback: function(e){
					let triggerNext = ['Space','ArrowRight','ArrowDown'];
					let triggerPrev = ['Backspace','ArrowLeft','ArrowUp'];
					let press = e.code;
					if(triggerNext.includes(press)){
						this.next();
					}else if(triggerPrev.includes(press)){
						this.prev();
					}else{
						console.warn('unknown key input');
					}
				},
				// TODO
				// fetchContent: function(source){
				// 	type = typeof(source)
				// 	switch(type){
				// 		case 'string':

				// 			break;
				// 		case 'object':
						
				// 			break;

				// 	}	
				// }
			}
		});
		
	</script>
	<style>
		.taka_hashi {
			background-color: white;
			width: 100%;
			height: 100%;
			padding-top: 18%
		}
		.taka_hashi a {
			color: black;
		}
		.taka_hashi .content {
			text-align: center;
			width: 100%;
			height: 100%;
		}
		.taka_hashi .content p{
			margin: 0;
			font-size: 8vw;
	    font-weight: bold;
		}
		.taka_hashi .content p::selection {
		  background: white; 
		}
		
		.taka_hashi .content p.header,.taka_hashi .content p.footer{
			color: red;
	    font-weight: bold;
			font-size: 3vw;
		}
		.taka_hashi .paginate.next{
			position: relative;
			float: right;
		}
		.taka_hashi .paginate.prev{
			position: relative;
			float: left;
		}
		.taka_hashi .fs{
			float: right;
		}
	</style>
</html>